* {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

