* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}

.joke-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.joke-component {

    align-items: center;
    font-size: 12px;
    padding: 30px;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;

    max-width: 400px;
}

.setup {
    font-weight: bold;
}

li, p {
    margin-bottom: 6px;
}

.isPun {
    font-style: italic;
}
.meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
   
}

.meta-votes{
    cursor: pointer;
    display: flex;
    justify-content: right;
    gap: 10px;
}

.comments-section {
    margin: 30px 0px 10px 0px;
}

label{
    font-weight: 700;
    cursor: pointer;
}
.comment {
    margin: 0;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}